# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE / OS
.vscode/
.idea/
.DS_Store
